<!-- create_topic.html
<form method="post">
    {% csrf_token %}
    
    < Render form fields -->
    <!-- <div class="field">
      <label for="{{ form.subject.id_for_label }}">Subject:</label>
      {{ form.subject }}
    </div>
    
    <div class="field">
      <label for="{{ form.message.id_for_label }}">Message:</label>
      {{ form.message }}
    </div>
    
    <button type="submit">Create Topic</button>
  </form>
   <! --> 
    <style>
        .navigation li {
            display: inline-block;
            margin-right: 10px;
        }
     </style>
     <div class="form-block"></div>
      <li><a href="/web_app/">HOME</a></li>
     </blockquote> 

   <form action="/web_app/create/" method="post">
    {% csrf_token %}
    <!-- {{form}} -->
      <div class="form-block">
      <label for="{{ form.subject.id_for_label }}">subject:</label>
      {{form.subject}}
      </div>
    
    <div class="form-block">
      <label for="{{ form.last_updated.id_for_label}}">Last Updated</label>
      {{form.last_updated}}
    </div>
     <div class="form-block">
      <label for="{{ form.board.id_for_label}}">board</label>
      {{form.board}}
    </div>
     <div class="form-block">
      <label for="{{ form.starter.id_for_label }}">starter</label>
      {{form.starter}}
    </div>
     <!-- <style>
        .navigation li {
            display: inline-block;
            margin-right: 10px;
        }
     </style>
     <div class="form-block"></div>
      <li><a href="/web_app/">HOME</a></li>
     </blockquote>
     <div class="form-block"></div>
      <input type="submit" value="CREATE">
     </blockquote>
      
     
      
   </form> -->