<!-- <form action="/web_app/chat/" method="post">
    (% csrf_token %)
    <blockquote>
        {{pform}}
    </blockquote>
    
    <blockquote>
        <input type="submit" value="CHAT">
    </blockquote>
</form> -->
<style>
  .navigation {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
    }
    
    .navigation li {
        margin: 0;
    }
    
    .navigation li a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
    
    .navigation li a:hover {
        background-color: #ddd;
    }
</style>
<ul class="navigation">
  <li><a href="/web_app/">Home</a></li>
  <li><a href="/web_app/admindata/">Boards</a></li>
  <li><a href="/web_app/board/">Topics</a></li>
  <li><a href="/web_app/post/">Posts</a></li>
  <li><a href="/web_app/create/">New Topic</a></li>
  <li><a href="/web_app/chatting/">New Post</a></li>
</ul>

<form method="post" action="/web_app/chatting/">
    {% csrf_token %}
    
    <div class="form-block">
      <label for="{{ form.message.id_for_label }}">Message:</label>
      {{ pform.message }}
    </div>
    
    <div class="form-block">
      <label for="{{ form.topic.id_for_label }}">Topic:</label>
      {{ pform.topic }}
    </div>
    
    <div class="form-block">
      <label for="{{ form.created_by.id_for_label }}">Created By:</label>
      {{ pform.created_by }}
    </div>
    
    <div class="form-block">
      <label for="{{ form.updated_by.id_for_label }}">Updated By:</label>
      {{ pform.updated_by }}
    </div>
    
    <div class="form-block">
        <label for="{{ form.created_at.id_for_label }}">Created At:</label>
        {{ pform.Created_at }}
      </div>
    
      <div class="form-block">
        <label for="{{ form.updated_at.id_for_label }}">Updated At:</label>
        {{ pform.updated_at }}
      </div>

    
    <input type="submit" value="Submit">
  </form>
  
  <style>
    .form-block {
      margin-bottom: 10px;
    }
  </style>
  